@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@300&display=swap');
:root{
    --primary-color: white;
    --primary-shade: whitesmoke;
    --secondary-color: #1c1d1d;
    --primary-bg-color: yellow;
    --secondary-bg-color: red;

}
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: var( --primary-shade);   
}


.horizonal_line {
    width: 50%;
   

}


/* Navbar */
.Navbar {
    background-color: var( --primary-bg-color);
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;


}

.sidebar {
    display: flex;
    gap: 1em;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
}

.sidebar a {
    color: var( --secondary-color);
    text-decoration: none;
}

.sidebar a:hover {
    color: var( --secondary-bg-color);
}

/* Banner */
.main_content {
    background-color: var( --primary-bg-color);
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    padding: 2rem;
}

.main_content_headline {
    font-size: 36px;
}


.main_contents_buttons {
    display: flex;
    gap: 2rem;
    margin-top: 4rem;

}

.main_content_description {
    font-size: 18px;
}

.main_buttons {
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid;
    border-color: var( --secondary-bg-color);
    background-color: var( --primary-bg-color);
    font-size: 24px;
    color: var( --secondary-bg-color);
    text-decoration: none;
}

.main_buttons:hover {
    border-color: var( --secondary-bg-color);
    background-color: var( --secondary-bg-color);
    color: var( --primary-bg-color);
}

/* Skills */

.content_headline {
    text-align: center;
    font-size: 36px;
    transition: all 0.3s;
    
}

.content_headline:hover {
    transform: translate(0px, 20px);
    
}

.card_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.card {
    min-width: 300px;
    max-width: 400px;
    padding: 20px;
    margin: 20px;
    /* background-color: var( --primary-color); */
    border-radius: 40px;
    border: 2px solid;
    border-color: var( --secondary-bg-color);
    -webkit-box-shadow: 3px 5px 6px 0px var( --secondary-bg-color); 
    box-shadow: 3px 5px 6px 0px var( --secondary-bg-color);
    /* This will make the card outside of the window */
    transform: translateX(400%);
    transform: transform 0.3s ease;

}

/* Animation */
/* This will make the even no of card from other direction */
.card:nth-last-of-type(even){
    transform: translateX(-400%);
}
/* This will make the card visible to the screen */
.card.show{
    transform: translateX(0);
}
@media (prefers-reduced-motion: no-preference) {
    .card {
      transition: opacity 1.5s ease, transform 1.5s ease;
    }
  }
/* Close Animation */  
 

.skillslist {
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
}

.listitem {
    border: 2px solid;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    background-color: var( --secondary-bg-color);
    color: var( --primary-color);
    text-align: center;
    font-weight: bold;

}

.listitem:hover {

    background-color: var( --primary-color);
    border-color: var( --secondary-bg-color);
    color: var( --secondary-bg-color);
    text-align: center;
    font-weight: bold;

}

.card_headline {
    text-align: center;
}
/* Journey */

.journey_section{
    margin: 20px 0px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ul{
    list-style-type: none;
}

.journey_tags{
    background-color: var(--secondary-bg-color);
    padding: 4px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    color: var(--primary-color);
}

/* Footer */

.footer {
    background-color: var( --secondary-color);
}

.footer_text {
    padding-top: 30px;
    color: var( --primary-color);
    text-align: center;
}

.urls {
    font-size: 25px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: var( --primary-color);
    border: 2px solid;
    border-color: var( --primary-color);
    border-radius: 50%;
    margin: 0 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.address{
    color: white;
}

.urls:hover {
    color: var( --secondary-color);
    background-color: var( --primary-color);
    font-weight: bold;
}

.urls_container {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.footer_bottom_text {
    text-align: center;
    color: var( --primary-color);
    margin-top: 20px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card_button {
    border-radius: 20px;
    padding: 7px;
    background-color: var( --secondary-bg-color);
    color: var( --primary-color);
    border-color: var( --primary-color);
    font-weight: bold;
}

.card_button:hover {

    color: var( --secondary-bg-color);
    border-color: var( --secondary-bg-color);
    background-color: var( --primary-color);
}
.icons{
    width: 40px;
    height: 40px;  
    color: red;  
}
/* Resposive */
@media screen and (max-width:500px) {
    .Navbar{
        padding: 0;
    }
    .logo{
        display: none;
    }
    /* .urls_container {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 20px;
    }
    .urls {
        text-align: center;
    
    } */
    .main_buttons {
        padding: 0.8rem;
        border-radius: 20px;
        font-size: 20px;
    }
    .main_content {
      
        height: 500px;
        
    }
    .card{
        margin:20px 50px;
    }
    .footer{
        margin: 0;
    }
    
    

}